<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236466247089-gfvnq3l8srqfej4u7dte5etc69onsk0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236466247089-gfvnq3l8srqfej4u7dte5etc69onsk0n</string>
	<key>API_KEY</key>
	<string>AIzaSyDbZeh5D3uOgmshqzOCaupxs2I8syIw50U</string>
	<key>GCM_SENDER_ID</key>
	<string>236466247089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clc.roy.StudentRealTimeDatabaseAlameh</string>
	<key>PROJECT_ID</key>
	<string>realtimedatabasenotes-bcfb2</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimedatabasenotes-bcfb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236466247089:ios:6238e0ec804ec826099990</string>
</dict>
</plist>